

	<div class="center hero-unit">
	<h1>S&J Risk Management</h1>
	<h2>Welcome to the S&J Risk Management websiteblahhhhhhh blah blahhhhhhhhhhh blah bahsdjd blahjkjk</h2>

	<%= link_to "Learn More", '#', class: "btn btn-large btn-primary" %>
	</div>


<!--<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> 
		FOR RUBY ON RAILS LOGO, WE DON'T NEED IT, BUT IT EXPLAINS IN 5.1.1 
		HOW TO USE IT AND WHERE TO PUT THE IMAGES-->

