@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;


#row {
		padding-top: 50px;
		
		}
		


/* universal */

 /* html { 
  background: url('backround_1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	overflow-y: scroll;
} */ 

 html {
  overflow-y: scroll;
} 


.block {
	/*background-color:rgba(0,0,0,0.2); */
    /* height:370px; */
  	background-color:#ffffff;
  	opacity:0.6;
  	padding-top: 20px;
  	padding-bottom: 20px;
  	padding-left:12px;
  	padding-right:12px;
}


body {
/*	background: url('background_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
	  color: $grayLight;  
  	background-color: white;
   

}



.hero-unit {
  background:rgba(0,0,0,0.5);
	

} 

.poop {
width: 40px;
}

/*.hey {
	float: right;
} */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  	margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 2.2em; 
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: noraml;
	color: white;
}

h3 {
	font-size: 1.8em; 

	margin-bottom: 30px;
	letter-spacing: 1px;
	text-align: center;
	font-weight: noraml;
	color: white;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transformation: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
	color: white;
	text-decoration: none;
	}
}

  
.navbar .nav > li > a {
	color: white;
	&:hover {
			color: $grayLight;
		}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: blue;
  a {
		color: blue;
		&:hover {
			color: $grayLight;
		}
	}
	small {
		float: left;
	}
  ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* Carasel */

    .carousel {
      margin-bottom: 30px;
    	margin-top: 41px;
    }

    .carousel .welcome {
   
      position: relative;
      z-index: 9;
    }
    
/* NEWWWW ---------------------------------------------------- */   
   .welcome h1 {
    	font-size: 8em;	
    	padding-left: 20px;
    	padding-top : 150px;
    	color: white;
      text-shadow: 0 2px 40px rgba(0,0,0,.4);
    }
    
    .poop {
			min-width: 339px;
  		padding-top: 80px;	
			height: auto;
    }
    
    /* .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    } */

    .carousel .item {
      height: 500px;
    }
    .carousel .test {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }
     
    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    
  /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    	text-align: center;
    }
 
    .marketing .span4 {
        margin-top: 40px;
      }   
   
   
.marketing .img-circle {
    border-radius: 500px;
}

